*{
    font-family: roboto;
}
:root{
    --color1: hsl(171, 100%, 41%);
    --color2: hsl(217, 71%, 53%);
    --color3: #EBF1F2;
    --color4: hsl(48, 100%, 67%);
}
/*titulo*/
#section h1{
    text-align: center;
    font-size: 3rem;
    text-shadow: 0px -3px 0 #212121,  
    0px -3px 0 #212121,
    0px  3px 0 #212121,
    0px  3px 0 #212121,
   -3px  0px 0 #212121,  
    3px  0px 0 #212121,
   -3px  0px 0 #212121,
    3px  0px 0 #212121,
   -3px -3px 0 #212121,  
    3px -3px 0 #212121,
   -3px  3px 0 #212121,
    3px  3px 0 #212121,
   -3px  6px 0 #212121,
    0px  6px 0 #212121,
    3px  6px 0 #212121;
}
#emoticon{
    color: var(--color4);
    animation: icono  0.3s linear infinite;
}
@keyframes icono {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-15px);
    }
}
#ingresarTarea, #enviar{
    box-shadow: 0px 10px 5px -6px black;
}

/*fondo*/
.figura{
    overflow: hidden;
}
.figura li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: figuras 25s linear infinite;
    bottom: -150px;
}
.figura li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 4s;
}
.figura li:nth-child(2){
    left: 10%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 4s;
}
.figura li:nth-child(3){
    left: 70%;
    width: 35px;
    height: 35px;
    animation-delay: 4s;
}
.figura li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 5s;
}
.figura li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 3s;
}
.figura li:nth-child(6){
    left: 75%;
    width: 90px;
    height: 90px;
    animation-delay: 3s;
    animation-duration: 3s;
}
.figura li:nth-child(7){
    left: 35%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
    animation-duration: 3s;
}
.figura li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 3s;
}
.figura li:nth-child(9){
    left: 20%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 4s;
}
.figura li:nth-child(10){
    left: 85%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 4s;
}
@keyframes figuras {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
/*tareas*/
#tarea1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 5px -9px black;
}
#cajaTareasPendientes, #cajaTareasHechas{
    box-shadow: 0px 10px 10px -6px black;
}
.tareaPendiente{
    margin-bottom: 1rem;
}
.eliminar{
    color: #B10202;
    border: none;
}
.enProceso{
    color: var(--color4);
    border: none;
}
#tarea .column:last-child{
    margin-right: 0rem;
}
 #tareas{
   padding: 3rem 1.5rem 3rem;
}
#tareas h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
}
#tareas p{
    font-size: 1.2rem;
}
/*palabras*/
#palabras1{
    padding-top: 1rem;
}
#palabras1 .column{
    border: 0.5rem solid var(--color1);
    background-color: var(--color1);
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
/*footer*/
#footer{
    padding: 1rem 1.5rem 1rem;
    background-color: var(--color3);
}
#palabras, #palabras2{
    display: flex;
    flex-direction: column;
}
