/*titulo*/
#section h1{
    text-align: center;
}
/*tareas*/
#tareas .column{
    border: 1rem solid yellow;
    background-color: cadetblue;
    margin-right: 1rem;
}
/*palabras*/
#palabras1 .column{
    border: 1rem solid red;
    background-color: royalblue;
    text-align: center;
    font-weight: bold;
}


